script(src="javascript/content.js")

block content
  div(id="resume")
    each category in resumeCategories
      div(class="js-content-section")
        h2(class="content-section-title")= category.title
        each experience in category.experience
          div(class="content-entry text")
            div(class="js-skill-tags hidden")=experience.tags
            div
              h3(style="display:inline;")
                a(class="selectable" href= experience.link target="_blank")= experience.title
                if experience.subtitle
                  span &nbsp - &nbsp
                  span= experience.subtitle
              h4(class="dates")= experience.dates
            each description in experience.descriptions
              p(class="description margin--medium")!= description
